/* CSS Reset / Global Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Setting global font to 62.5% which sets 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* background-color: var(--color-white); */
    /* background-color: var(--color-primary); */
}

body {
    /* font-family: 'Exo 2', sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Lora', serif; */
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    font-family: 'Lora', serif;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}

:root {
    --bar-height: 70px;
    --color-blue: #232832;
    /* --color-blue: #334158; */
    --color-light-blue: #D6E9F7;
    --color-sky-blue: #39a9fd;
    --color-green: #075e55;
    /* --color-green: #66BD9C; */
    --color-yellow: #f1a500;
    --color-light-grey: #f5f9fa;
    --color-medium-grey: #3b3f4f;
    --color-dark-grey: #1b1e26;
    --color-black: #272421;
    --color-white: #ffffff;

    --gradient-primary: linear-gradient(to right, var(--color-purple), var(--color-dark-purple));
    --gradient-secondary: linear-gradient(to top left, var(--color-primary), var(--color-primary), var(--color-secondary));
}

#bg-yellow {
    background-color: var(--color-yellow);
}

#bg-green {
    background-color: var(--color-green);
}

#bg-blue {
    background-color: var(--color-blue);
}

#bg-sky-blue {
    background-color: var(--color-sky-blue);
}

#n {
    color: var(--color-green);
}

#yellow-transparent {
    color: rgba(241, 165, 0, 0.4);
}

#yellow-transparent:hover {
    color: var(--color-white);
}

#green-transparent {
    color: rgba(90, 161, 154, 0.4);
}

#green-transparent:hover {
    color: var(--color-white);
}

#blue-transparent {
    color: rgba(35, 40, 50, 0.4);
}

#blue-transparent:hover {
    color: var(--color-white);
}

#sky-blue-transparent {
    color: rgba(57, 169, 253, 0.4);
}

#sky-blue-transparent:hover {
    color: var(--color-white);
}

/* ********************************************************     ********************************************************** */
/* Bar */
.bar {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--bar-height);
    box-shadow: 0 0 1rem rgba(97, 97, 97, .5);
    /* border-bottom: .3px solid rgb(222, 222, 222); */
    /* border-bottom: 1px dotted rgb(200, 200, 200); */
    /* border-bottom: 1px dotted rgb(0, 0, 0); */
    /* border-bottom: .5px solid lightgray; */
    transition: background 0.15s;
}


.bar__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bar {
    background-color: #fff; /* Default background color for the navbar */
  }
  
  .bar--solid {
    background-color: var(--color-blue); /* Blue solid color for the navbar in the Home page*/
  }
  
  .bar--landing {
    background-color: #ffffff; /* White navbar color for the landing page */
  }
  
  .bar__logo {
    height: 32px; /* Adjust the height as needed */
  }
  

.bar__nav-toggle {
    cursor: pointer;
}

.bar__nav-toggle i {
    background-color: var(--color-secondary);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3rem;
}

/* Nav */
#inpNavToggle {
    display: none;
}

#inpNavToggle:checked ~ .nav {
    display: flex;
}

.nav{
    display: none;
    flex-direction: column;
    position: fixed;
    top: var(--bar-height);
    left: 0;
    width: 100%;
    height: auto;
    /* height: calc(100vh - var(--bar-height)); */
    padding: 24px ;
    background: var(--color-primary);
    box-sizing: border-box;
}

.nav__link {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    text-decoration: none;
    padding: 1rem 0;
    transition: .3s ease-in-out all;
}

.nav__link:hover {
    color: var(--color-green);
}

.nav__link a:active {
    color: var(--color-green);
}

.nav .btn-blue {
    padding: 1rem 1.75rem;
    margin-right: 1rem;
}

.nav .btn-transparent {
    padding: 1rem 1.75rem;
}

@media screen and (min-width: 992px) {
    .bar__nav-toggle {
        display: none;
    }

    .nav {
        display: initial;
        position: static;
        width: unset;
        height: unset;
        padding: unset;
        background: transparent;
    }

    .nav__link {
        border-bottom: none;
    }

    .nav__link:not(:last-of-type) {
        margin-right: 2rem;
    }
}

/* Header */
.header {
    height: 80vh;
    padding: 0 8rem;
    /* padding: 12rem 0 0 0; */
    /* background-image: url(../img/mitra-header-template.jpeg); */
     background-color: var(--color-white); 
    display: flex;
    align-items: center;
    padding-top: var(--bar-height);
    box-sizing: border-box;
    background-size: cover;
    z-index: 4;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* background: rgba(0, 0, 0, 0.3);  */
    /* background: rgba(75, 74, 74, 0.5);  */
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    flex-basis: 50%;
}

.header-text h1 {
    font-size: 5rem;
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1.2;
    margin-bottom: 2rem;
}

.header-text h1 span {
    color: var(--color-green);
}

.header-text p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.header-button {
    padding-bottom: 1.5rem;
}

.header-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image img {
    width: 400px;
    height: auto;
}

.u-centered {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}

/* ******************************************************** END OF HEADER SECTION ************************************************************ */
/* Animated Circles CSS */
.circles {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(96, 183, 199, 0.1);
	animation: animate 25s linear infinite;
	bottom: calc(-150px - 40vh);
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.1);
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.1);
}

.circles li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(7) {
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 30s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.1);
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.1);
}

.circles li:nth-child(10) {
	left: 85%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 45s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.1);
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}

#yellow {
    color: var(--color-yellow);
}

#red {
    color: var(--color-red);
}

#blue {
    color: var(--color-blue);
}

/* Badges Section */
.badges {
    padding: 4rem;
    background-color: var(--color-light-grey);
}

.badges-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.badges-item {
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badges-item img {
    width: 40%;
    height: auto;
}

/* Portal Section */
.portal {
    padding: 10rem 4rem;
    background-color: var(--color-light-grey);
}

.portal h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1;
    margin-bottom: 2rem;
    text-align: center;
}

.portal h2 span {
    color: var(--color-green);
}

.portal p {
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 6rem;
}

.portal-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 4rem 0;
}

.portal-card {
    width: 25%;
    height: 200px;
    background-color: var(--color-white);
    border: 2px solid var(--color-green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    transition: .3s ease-in-out all;
    /* box-shadow: 0 10px 15px rgba(119, 119, 119, 0.1); */
    border-radius: 8px;
    
}

.portal-card:hover {
    background-color: var(--color-green);
    transform: scale(1.1);
    /* box-shadow: 0 .75rem .75rem rgba(0, 0, 0, 0.1); */
    border-radius: 4px;
}

/* .portal-card:nth-child(1) {
    background-color: var(--color-green);
}

.portal-card:nth-child(2) {
    background-color: var(--color-white);
}

.portal-card:nth-child(3) {
    background-color: var(--color-green);
} */

.portal-icon-box {
    display: flex;
    justify-content: left;
    align-items: left;
}

.portal-icon {
    background-color: var(--color-green);
    padding: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portal-icon span {
    color: var(--color-white);
    font-weight: 100;
}

.portal-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portal-text h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--color-blue);
}

.portal-text h3 span {
    border-bottom: 1.5px solid var(--color-blue);
    font-family: 'Lora', serif;
    font-weight: 400;
}

.portal-button-box {
    display: flex;
    justify-content: right;
    align-items: center;
}

.portal-button {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.portal-button span {
    font-size: 2rem;
}

.portal-button .btn-green {
    background-color: var(--color-light-grey);
    color: var(--color-green);
    border: 2px solid var(--color-light-grey);
    padding: .25rem 1rem;
}

.portal-button .btn-green:hover {
    background-color: var(--color-green);
    color: var(--color-green);
    border: 2px solid var(--color-white);
}

/* Features Section */
.features {
    padding: 10rem 4rem;
    background-color: var(--color-light-grey);
}

.features h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1;
    margin-bottom: 2rem;
    text-align: center;
}

.features h2 span {
    color: var(--color-green);
}

.features p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 6rem;
}

.features-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0 4rem 0;
}

.features-card {
    width: 225px;
    height: 225px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    transition: .3s ease-in-out all;
    border-radius: 8px;
}

.features-card:hover {
    background-color: var(--color-light-grey);
    transform: scale(1.1);
    box-shadow: 0 .75rem .75rem rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.features-icon-box {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-bottom: 2rem;
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-icon span {
    color: var(--color-green);
    font-size: 6rem;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.features-text h3 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.4;
    color: var(--color-blue);
    margin-bottom: 1rem;
}

.features-text p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 1.8;
    text-align: left;
    margin-bottom: 0;
}

.features-text h3 span {
    border-bottom: 1.5px solid var(--color-blue);
    font-family: 'Lora', serif;
    font-weight: 400;
}

.features-button-box {
    display: flex;
    justify-content: right;
    align-items: center;
}

/* About Section */
.about {
    padding: 12rem 8rem 8rem 8rem;
}

.about-toggle {
    display: flex;
    margin-bottom: 8rem;
}

.about-toggle-btn {
    width: 100%;
    display: flex;
}

.about-toggle-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    color: var(--color-green);
    border: 2px solid var(--color-green);
    font-family: inherit;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 1px;
    /* border-radius: 50px; */
    padding: 1rem 1.75rem;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
    text-transform: uppercase;
}

.about-toggle-btn button:active {
    background-color: var(--color-green);
    color: var(--color-white);
}

.about-toggle-btn button:hover {
    background: var(--color-green);
    color: var(--color-white);
}

.about-toggle-btn .button1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about-toggle-btn .button2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: 2px solid var(--color-green);
    border-bottom: 2px solid var(--color-green);
    border-right: none;
    border-left: none;
}

.about-toggle-btn .button3 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-toggle-btn button span {
    margin-left: .25rem;
}

.about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about-image {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    width: 75%;
    height: auto;
    border-radius: 4px;
}

.about-text {
    flex-basis: 50%;
    padding: 0 4rem;
}

.about-text h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-blue);
    margin-bottom: 2rem;
}

.about-text h2 span {
    color: var(--color-green);
}

.about-text p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 2;
    margin-bottom: 2rem;
}

.about-details-box {
    display: flex;
    flex-direction: column;
}

.about-detail {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2rem;
}

.about-detail span {
    color: var(--color-green);
    font-size: 2.5rem;
    margin-right: .5rem;
}

.about-detail h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-blue);
    line-height: 2;
}

.about-button {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Banner Section  */
.banner {
    height: 100vh;
    padding: 12rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.banner-text {
    flex-basis: 40%;
}

.banner-text h2 {
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1.2;
    margin-bottom: 4rem;
}

.banner-text h2 span {
    color: var(--color-green);
}

.banner-form form {
    display: flex;
}



.banner-item .input {
    width: 26rem;
    height: 4.5rem;
    border-radius: 4px;
    background: #ecf0f1;
    border: 1px solid var(--color-light-grey);
    padding: 1rem;
    font-family: inherit;
    color: var(--color-medium-grey);
    font-size: 1.4rem;
    letter-spacing: .5px;
    font-weight: 400;
}

.banner-item .placeholder {
    color: var(--color-medium-grey);
    font-size: 1.4rem;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 1.6;
}

.banner-item .btn-submit {
    background: var(--color-green);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 1px;
    width: 8rem;
    height: 4.5rem;
    border: 2px solid var(--color-green);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    transition: .3s all;
    cursor: pointer;
}

.banner-item .btn-submit:hover {
    background: var(--color-blue);
    color: var(--color-white);
}

.banner-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image img {
    width: 100%;
    height: auto;
}

/* Login Section */
.login {
    height: 100vh;
    padding: 12rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text {
    flex-basis: 50%;
}

.login-text h2 {
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1.2;
    margin-bottom: 2.5rem;
    text-align: center;
}

.login-text p {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 2;
    text-align: center;
    margin-bottom: 4rem;
}

.login-text a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-green);
    line-height: 2;
    text-decoration: none;
    transition: .3s ease all;
}

.login-text a:hover {
    color: var(--color-blue);
}

.login-text h2 span {
    color: var(--color-green);
}

.login-form {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-item {
    margin-bottom: 2rem;
}

.login-item .input {
    width: 50rem;
    height: 4.5rem;
    border-radius: 4px;
    background: #ecf0f1;
    border: 1px solid var(--color-light-grey);
    padding: 1rem;
    font-family: inherit;
    color: var(--color-medium-grey);
    font-size: 1.4rem;
    font-weight: 400;
}

.login-item .placeholder {
    color: var(--color-medium-grey);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
}

.login-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#login-feature {
    border-top: 1px solid rgb(226, 226, 226);
    padding-top: 2rem;
    margin-top: 2rem;
}

.login-link a {
    font-size: 1.25rem;
    color: var(--color-medium-grey);
    /* text-decoration: none; */
}

.login-link a:hover {
    color: var(--color-green);
}



.login-submit .btn-submit {
    background: var(--color-green);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border: 2px solid var(--color-green);
    border-radius: 4px;
    transition: .3s all;
    cursor: pointer;
    margin-bottom: 15px;
}

.login-submit .btn-submit:hover {
    background: var(--color-blue);
    color: var(--color-white);
}

.login-submit .btn-submit2 {
    background: transparent;
    color: var(--color-green);
    border: 2px solid var(--color-green);
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    transition: .3s all;
    cursor: pointer;
}

.login-submit .btn-submit2:hover {
    background: var(--color-blue);
    color: var(--color-white);
}

/* Main Section */
.main {
    display: flex;
    height: 100vh;
    margin-top: 7em;
  }
  
  .main h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
    color: var(--color-blue);
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .main h2 span {
    color: var(--color-green);
  }
  
  .main h4 {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: italic;
    color: var(--color-green);
    line-height: 2;
    text-align: center;
    margin-bottom: 8rem;
  }
  /* Sidebar */
  .main-container {
    display: flex;
  }
  
  .main-mentors {
    width: 20%;       /* Sets the width of the div to 20% of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-blue);

  }
  
  .mentor-header {
    margin: 0 0 3rem;
    border-bottom: 1px solid var(--color-green);
  }
  
  .mentor-header h4 {
    text-align: left;
    margin: 1rem 0 1rem 2rem;
    color: var(--color-white);
    font-size: 1.75rem;
    font-weight: 500;
    font-style: normal;
    line-height: 2;
  }
  
  .mentor-list {
    border-bottom: 1px solid var(--color-green);
    margin-bottom: 2rem;
    overflow-y: auto;  /* Allows scrolling if there are many contact names */
    max-height: 400px;  /* Adjust this value based on your preference */
}
  
.mentor-name {
    display: flex;
    /* Removed justify-content: space-between; */
    align-items: flex-start; /* Changed from center to flex-start */
    margin: 1rem 2rem;  /* Adjusted margin for top and bottom spacing */
    padding: 1rem 0;    /* Added padding for top and bottom spacing */
    border-bottom: 1px solid var(--color-green);  /* Border at the bottom of each contact name */
    background-color: var(--color-light-grey);  /* Background color for the rectangle */
}
  
  .mentor-name h5 {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-white);
  }
  
  .mentor-name:hover {
    background-color: var(--color-medium-grey);  /* Slightly darker shade on hover */
    cursor: pointer;  /* Change cursor to pointer on hover */
}
  
  .mentor-button .btn-green {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
  
  .mentor-tab {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mentor-image {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes it a circle */
    margin-right: 10px; /* Adds some spacing between the image and the name */
    object-fit: cover; /* Ensures the image covers the entire circle */
    align-self: center; /* Vertically centers the image in the .mentor-name container */
}

.sidebar-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Space between the image and the name */
    vertical-align: middle; /* This will align the image vertically with the text */
}

.contact-item {
    display: flex;
    align-items: flex-start; /* Changed from center to flex-start */
    padding-left: 20px; /* Space from the left edge */
}

/* Styling for the name box */
.contact-item .name-box {
    background-color: rgb(241, 241, 241); /* Light gray background */
    padding: 5px 10px; /* Padding around the name */
    border-radius: 5px; /* Rounded corners */
    margin-left: 5px; /* Space between the image and the name box */
}


  /* main-home-page */
  .main-content {
    padding: 5rem 8rem;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-item {
    padding: 0 4rem;
  }
  
  .main-item h3 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-blue);
    line-height: 2;
    margin-bottom: 2rem;
  }
  
  .main-item p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 2;
    margin-bottom: 5rem;
  }
  
  .main-button {
    margin-bottom: 2rem;
  }
  
  
  /* Section */
  .App {
    width: 100%;
    min-height: 100vh;
    background-color: #1c2c4c;
    color: #4c768d;
  }
  
  .nav-bar {
    padding: 10px 30px;
    display: flex;
    align-items: center; /* This should vertically center all children */
    justify-content: space-between;
    background-color: #4c768d;
    color: #242443;
    height: 60px;
    
    }

    .sign-in {
        border: none;
        background-color: transparent;
    }

    .sign-in > img {
        height: 30px;
        width: auto;
    }

    .sign-out {
        border-radius: 5px;
        color: #88dded;
        border: 1px solid #1c2c4c;
        background-color: #1c2c4c;
        font-weight: 600;
    }

    .user-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-right: 15px;
        display: inline-block;
    }
  
  /* welcome page */
  .welcome {
    padding: 30px;
    text-align: center;
    margin-top: 40px;
    color: #7cc5d9;
  }
  .welcome :is(h2, p, img) {
    margin-bottom: 20px;
  }
  
  /* chat component */
  .messages-wrapper {
    padding: 30px;
    margin-bottom: 60px;
  }
  .chat-bubble {
    border-radius: 20px 20px 20px 0;
    padding: 15px;
    background-color: #7cc5d9;
    color: #1c2c4c;
    width: max-content;
    max-width: calc(100% - 50px);
    box-shadow: -2px 2px 1px 1px #4c768d;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .chat-bubble.right {
    margin-left: auto;
    border-radius: 20px 20px 0 20px;
    background-color: #fff;
    box-shadow: -2px 2px 1px 1px #88dded;
  }
  .chat-bubble__left {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #1c2c4c;
  }
  .user-message {
    word-break: break-all;
  }
  .message-time {
    display: block;
    text-align: right;
  }
  
  /* send message */
  .send-message {
    position: fixed;
    bottom: 0px;
    width: 60%;
    padding: 20px 30px;
    background-color: #4c768d;
    display: flex;
  }
  .send-message > input {
    height: 40px;
    padding: 10px 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    flex-grow: 1;
    background-color: white;
    color: #1c2c4c;
    font-size: 1rem;
  }
  .send-message > input:placeholder {
    color: #ddd;
  }
  .send-message > :is(input, button):focus {
    outline: none;
    border-bottom: 1px solid #7cc5d9;
  }
  .send-message > button {
    width: 70px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 0 5px 5px 0;
    color: #242443;
    border: 1px solid #7cc5d9;
    background-color: #7cc5d9;
    font-weight: 600;
  }

/* ******************************************************** Footer Section ***************************************************** */
/* Footer Section */
.footer {
    padding: 6rem 0 4rem 0;
    background-color: var(--color-blue);
    border-bottom: .5px solid rgb(86, 95, 107);
    /* display: flex; */
    /* align-items: center; */
    /* padding-top: var(--bar-height);
    box-sizing: border-box;
    background-size: cover;
    z-index: 4;
    position: relative; */
}

.footer-box {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-box-company {
    flex: 2;
}

.footer-box-company h3 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 2rem;
}

.footer-box-company p {
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 500;
    line-height: 1.6;
    margin: 2rem 0;
    color: var(--color-white);
}

.footer-box-company img{ 
    width: 75px;
    height: auto;
}

.footer-box-links {
    flex: 1;
}

.footer-box-links h3 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-white);
}

.footer-box-links li {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
    letter-spacing: .5px;
    line-height: 1.6;
    text-align: center;
    text-transform: none;
    margin: 1rem 0;
    list-style: none;
    transition: .3s all;
}
.footer-box-links a {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white);
    letter-spacing: .5px;
    line-height: 1.6;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    margin: 1rem 0;
    transition: .3s all;
}

.footer-box-links a:hover {
    color: var(--color-green);
}

.footer-box-links li:hover {
    color: var(--color-green);
}

/* Footer Bar */
.footer-bar {
    background-color: var(--color-blue);
}

.footer-bar h5 {
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 500;
    line-height: 1.6;
    margin: 2rem 0;
    color: var(--color-white);
    text-align: center;
}

/* Contact Form */


.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

.contact-item .input {
    width: 20rem;
    height: 3rem;
    border-radius: 4px;
    background: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
    padding: 1rem;
    font-family: inherit;
    color: var(--color-light-purple);
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
}

.contact-item .placeholder {
    color: var(--color-light-purple);
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
    line-height: 1.6;
}

.contact-item .btn-submit {
    background: var(--color-green);
    color: var(--color-white);
    font-family: inherit;
    font-size: 1.25rem;
    letter-spacing: .5px;
    font-weight: 600;
    width: 8rem;
    height: 4rem;
    border: 2px solid var(--color-green);
    border-radius: 4px;
    transition: .3s all;
    cursor: pointer;
}

.contact-item .btn-submit:hover {
    background: var(--color-blue);
    color: var(--color-white);
}

/* LOADING ANIMATION */
/* Loading Animation Container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader  {
    margin: 2em 5em 2em 5em;
    animation: rotate 3s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100%{
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
      }
    }
    
    @keyframes ball2 {
      0% {
        box-shadow: 30px 0 0 #97bf0d;
      }
      50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
      }
      100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
      }
    }

/* ******************************************************* MEDIA QUERIES *************************************************************** */
/* Large devices (laptops/desktops, 106px and down) */
@media only screen and (max-width: 1024px) {
}

/* Medium devices (landscape tablets, ipad air, 820px and down) */
@media only screen and (max-width: 820px) {
    
    /* Header Hero Images */
    .header1 {
        height: 40vh;
    }

    .header2 {
        height: 40vh;
    }

    .header3 {
        height: 40vh;
    }

    /* Header Section */
    .header {
        padding: 18rem 8rem 4rem 8rem;
    }


    .header-image img {
        width: 350px;
        padding-left: 4rem;
    }

    .header-button {
        padding-bottom: 4rem;
    }

    .header-text h1 {
        font-size: 4.5rem;
    }
    
    .bar__nav-toggle i {
        color: var(--color-black);
    }

    .nav__link {
        color: var(--color-black);
        border-bottom: 1px dotted var(--color-black);
    }

    .nav__link:nth-child(5) {
        border-bottom: none;
    }

    .nav .btn-transparent {
        margin: auto;
        text-align: center;
        margin-top: .5rem;
        padding: 12.5px 20px;
    }

    /* Footer Section */
    .footer-container {
        flex-direction: column;
    }

    .footer-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box-company {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box-company p {
        text-align: center;
        padding-right: 12rem;
        padding-left: 12rem;
    }
}

/* Extra small devices (small tablets, ipad mini, 768px and down) */
@media only screen and (max-width: 768px) {
    
    /* Header Hero Images */
    .header1 {
        height: 50vh;
    }

    .header2 {
        height: 50vh;
    }

    .header3 {
        height: 50vh;
    }

    /* Header Section */
    .header {
        padding: 18rem 8rem 4rem 8rem;
    }

    .header-image img {
        width: 300px;
        padding-left: 4rem;
    }

    .header-button {
        padding-bottom: 4rem;
    }

    .header-text h1 {
        font-size: 4.5rem;
    }

}

/* Profile Page */
.profile-header {
    margin-bottom: 2rem;
}

.profile-content {
    display: flex;
    gap: 20px; /* Spacing between the two boxes */
    justify-content: space-between;
}

.profile-main-content {
    padding: 3rem; 
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}
.profile-form-box, .profile-interests-box {
    flex: 1; /* This makes sure both boxes take up equal space */
    padding: 20px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.profile-box {
    padding: 2rem; 
    background-color: #ffffff;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

/* For mobile responsiveness if required. */
@media (max-width: 768px) {
    .profile-main-content {
        width: 95%;
    }
}
.profile-header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #888;
}

.info-settings {
    display: flex;
    justify-content: space-between;
}

.basic-info, .profile-interests {
    width: 100%; 
}

.profile-item {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.profile-item label {
    margin-right: 1rem;
    width: 40%; /* Adjust this value based on the longest label */
    display: inline-block;
    text-align: right;
}

.profile-item .input {
    width: 60%; /* Adjust this based on how wide you want the input field */
    height: 4.5rem;
    border-radius: 4px;
    background: #ecf0f1;
    border: 1px solid var(--color-light-grey);
    padding: 1rem;
    font-family: inherit;
    color: var(--color-medium-grey);
    font-size: 1.4rem;
    font-weight: 400;
}

.profile-item .placeholder {
    color: var(--color-medium-grey);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
}

.profile-user-image {
    width: 10em;  /* or whatever size you want */
    height: 10em;
    background-size: cover;
    background-position: center;
    margin: 0 auto; /* This will center the div if its parent container has a flex or grid display or is block-level */
    border-radius: 50%; /* optional, if you want the image to be circular */
}

.profile-user-image {
    margin: 20px auto;
}

/* Registration Section */
.registration {
    padding: 5rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Registration Box */
  .registration-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #fff;
    border-radius: 8px;
    padding: 3rem 5rem  10rem;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  }
  
  .registration-text {
    flex-basis: 100%;
  }
  
  .registration-text h2 {
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--color-blue);
    line-height: 1.2;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  
  .registration-text p {
    font-size: 1.7em;
    font-weight: 400;
    color: var(--color-medium-grey);
    line-height: 2;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;
  }
  
  .registration-text a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-green);
    line-height: 2;
    text-decoration: none;
    transition: .3s ease all;
  }
  
  .registration-text a:hover {
    color: var(--color-blue);
  }
  
  .registration-text h2 span {
    color: var(--color-green);
  }
  /* Registration Form as a whole */
  .registration-form {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }
  
  .registration-form form {
    display: flex;
    flex-direction: column;
  }

  /* Registration Form/Fields */
  .registration-item {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .registration-email-verfication-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }

  .registration-email-verfication-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
  }
  
  .interest-checkboxes {
    display: flex;
    flex-direction: column;
  }
  
  .hobby-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  
  .hobby-checkbox input {
    margin-right: 0.5rem;
    transform: translateY(12px);
  }
  
  .hobby-checkbox label {
    order: -1;
    margin-left: 0.5rem;
    white-space: nowrap; /* Prevent line breaks within labels */
    display: inline-block;
    width: calc(100% - 34rem); /* Adjust the width as needed */
    line-height: 2;
    transform: translateY(6.5px);    
  }
  
  
  .registration-item-role-selection {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    gap: 17.5rem;
  }
  
  .registration-item-role-selection select {
    font-size: 1.6rem;
    padding: 1px;
    width: 200px;
  }
  
  .registration-item input {
    width: 100% ;
    height: 3rem ;
    border-radius: 4px ;
    background: #ecf0f1 ;
    border: 1px solid var(--color-light-grey) ;
    padding: 1.7rem ;
    font-family: inherit ;
    color: var(--color-medium-grey);
    font-size: 1.7rem ;
    font-weight: 400 ;
  }
  
  .registration-item .placeholder {
    color: var(--color-light-purple);
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .registration-feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .registration-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-green) !important;
    color: var(--color-white) !important;
    font-family: inherit;
    font-size: 1.50rem;
    border-radius: 4px;
    height: 2.5rem;
}
  
  .registration-submit button {
    margin-top: 2rem;
    background: var(--color-green) !important;
    color: var(--color-white) !important;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border: 2px solid var(--color-green);
    border-radius: 4px;
    transition: .3s all;
    cursor: pointer;
  }
  
  .registration-submit:hover {
    background: var(--color-blue);
    color: var(--color-white);
  }

  .registration-submit-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.7rem;
    background-color: var(--color-green) !important;
    color: var(--color-white) !important;
    font-family: inherit;
    font-size: 1.50rem;
    border-radius: 4px;
    height: 2.5rem;

  }

/* Progressbar */
  .progress-bar-container {
    width: 97%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 8em  0em 0em 2em;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    h2 {
        font-size: 3.75rem;
    }

    /* Header Hero Images */
    .header1 {
        height: 40vh;
    }

    .header2 {
        height: 40vh;
    }

    .header3 {
        height: 40vh;
    }

    /* Header Section */
    .header {
        padding: 18rem 2rem 4rem 2rem;
    }

    .header-box {
        flex-direction: column;
    }

    .header-text h1 {
        font-size: 4rem;
        text-align: center;
    }

    .header-text h4 {
        text-align: center;
        margin-bottom: 0;
    }

    .header-image img {
        width: 250px;
    }

    .bar__nav-toggle i {
        color: var(--color-black);
    }

    .nav__link {
        color: var(--color-black);
        border-bottom: 1px dotted var(--color-black);
    }

    .nav .btn-transparent {
        margin: auto;
        text-align: center;
        margin-top: .5rem;
        padding: 12.5px 20px;
    }

    /* Footer Section */
    .footer-container {
        flex-direction: column;
    }

    .footer-box {
        justify-content: center;
        align-items: center;
    }

    .footer-box-company {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box-company p {
        text-align: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    .footer-contact {
        width: 33.5rem;
        height: 50rem;
        margin-bottom: 3rem;
    }

    .footer-map {
        margin-bottom: 2rem;
    }

    .footer-map h3 {
        margin-bottom: 1rem;
    }

    .footer-info {
        margin-bottom: 2rem;
    }

    .footer-info h3 {
        margin-bottom: 1rem;
    }

    .footer-socials {
        margin-bottom: 2rem;
    }

    .footer-socials h3 {
        margin-bottom: 1rem;
    }

}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;  /* Or whatever width you want */
    text-align: center;
    height: 500px;
  }